<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="title">Cadastro Cerveja</th:block>

<th:block th:fragment="content">

    <form method="post" class="form-vertical  js-form-loading" th:object="${cervejaDto}">

        <div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <p th:each="error : ${#fields.detailedErrors('${cervejaDto.*}')}">
                <i class="fa  fa-exclamation-circle"></i> <span th:text="${error}"></span>
            </p>
        </div>


        <!------------------------->

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="sku" class="control-label">SKU</label>
                    <input id="sku" type="text" class="form-control" th:field="*{sku}"/>
                    <span class="help-block" th:each="error: ${#fields.errors('sku')}" th:text="${error}">Please correct the error</span>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label for="nome" class="control-label">Nome</label>
                    <input id="nome" type="text" class="form-control" th:field="*{nome}"/>
                    <span class="help-block" th:each="error: ${#fields.errors('nome')}" th:text="${error}">Please correct the error</span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="descricao" class="control-label">Descrição</label>
            <textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
            <span class="help-block" th:each="error: ${#fields.errors('descricao')}" th:text="${error}">Please correct the error</span>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="estiloDto" class="control-label">Estilo</label>
                    <div class="bw-field-action">
                        <select id="estiloDto" class="form-control">
                            <option value="0">Selecione</option>
                        </select>
                        <div class="bw-field-action__icon">
                            <a href="javascript:return false;" data-toggle="modal"
                               data-target="#modalCadastroRapidoEstilo">
                                <span class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="sabor" class="control-label">Sabor</label>
                    <select name="sabor" id="sabor" class="form-control">
                        <option value="0">Selecione</option>
                    </select>
                </div>

            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="teorAlcoolico" class="control-label">Teor Alcoólico</label>
                    <div class="input-group">
                        <input id="teorAlcoolico" type="text"
                               class="form-control js-decimal"/>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Origem</label>
                    <div>
                        <div class="radio radio-inline">
                            <input id="id_origem" type="radio">
                            <label for="id_origem">Nacional</label>
                        </div>
                        <div class="radio radio-inline">
                            <input id="id_origem2" type="radio">
                            <label for="id_origem2">Internacinal</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="valor" class="control-label">Valor</label>
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input id="valor" type="text" class="form-control js-decimal"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="comissao" class="control-label">Comissão</label>
                    <div class="input-group">
                        <input id="comissao" type="text" class="form-control js-decimal"/>
                        <div class="input-group-addon">%</div>
                    </div>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="input-produto-estoque" class="control-label">Estoque</label>
                    <input id="input-produto-estoque" type="text" t class="form-control js-int"
                           placeholder="Unidades"/>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group  col-sm-12">


                <label class="control-label">Foto</label>

                <div class="js-container-foto-cervejaDto">
                    <div id="upload-drop" class="bw-upload">
                        <img th:src="@{/assets/images/mini-loading.gif}" class="js-img-loading  hidden"/>
                        <i class="glyphicon  glyphicon-cloud-upload"></i>
                        <span>Arraste a foto aqui ou </span>
                        <a class="bw-upload-form-file">selecione <input id="upload-select" type="file"
                                                                        accept=".jpg,.jpeg,.png"/></a>
                    </div>
                </div>
            </div>
        </div>


        <script id="foto-cervejaDto" type="text/x-handlebars-template">
            <div class="row  js-foto-cervejaDto">
                <div class="col-md-4"></div>
                <div class="col-md-4  text-center">
                    <a href="#" class="thumbnail">
                        <img src="{{url}}"></img>
                    </a>
                    <button type="button" class="btn  btn-link  js-remove-foto"><span
                            class="glyphicon  glyphicon-remove"></span></button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </script>

        <div class="form-group">
            <button class="btn  btn-primary" type="submit">Salvar</button>
            <a th:href="@{pesquisa-produtos.html}" class="btn  btn-default">Cancelar</a>
            <a th:href="@{/}" class="btn  btn-link  aw-btn-link-danger" onclick="excluir()">Excluir este
                produto</a>
        </div>


    </form>
</th:block>

<th:block th:fragment="appendJS">
    <script th:src="@{/assets/javascripts/estiloDto.cadastro-rapido.js}"></script>
    <script th:src="@{/assets/javascripts/vendors/uikit.min.js}"></script>
    <script th:src="@{/assets/javascripts/vendors/upload.min.js}"></script>
    <script th:src="@{/assets/javascripts/vendors/handlebars.min.js}"></script>
    <script th:src="@{/assets/javascripts/cervejaDto.upload-foto.js}"></script>
</th:block>

<th:block th:fragment="appendCSS">
    <link rel="stylesheet" th:href="@{/assets/stylesheets/vendors/upload.min.css}"/>
</th:block>

<th:block th:fragment="appendBody">
    <div class="modal fade" id="modalCadastroRapidoEstilo" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Cadastro de estiloDto</h4>
                </div>

                <div class="modal-body">
                    <div class="alert  alert-danger  hidden  js-mensagem-cadastro-rapido-estiloDto" role="alert"></div>

                    <form class="form-horizontal" th:action="@{/estilos}">
                        <div class="form-group">
                            <label class="col-sm-2  control-label" for="nomeEstilo">Nome</label>
                            <div class="col-sm-10">
                                <input id="nomeEstilo" type="text" class="form-control">
                            </div>
                        </div>
                    </form>

                    <button type="button" class="btn  btn-primary  js-modal-cadastro-estiloDto-salvar-btn">Salvar</button>
                    <button type="button" class="btn  btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>
